*{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
}
body{
	background-color: #ECF0F1;
	height: auto;
}
header{
	height: 100px;
	background-color: #D0D3D4;
	margin: -17px -8px 0px -8px;
	font-family: "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS";
}
header h1{
	margin:0px 0px 30px 10px;
	padding-left: 150px;
	padding-top: 30px;
	font-size: 35px;
	color: #CB4335;
}
header a{
	text-decoration: none;
}
.container{
	overflow-y:scroll;
	width:70%;
	height:450px;
	margin: 70px 70px 70px 200px;
	background-color: #ECF0F1;
	box-shadow:  -7px 10px 16px 10px #D0D3D4;
}
form{
	text-align: center;
	color: #CB4335;
	font-family: "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS";
	font-size: 15px;
}
input{
	height: 30px;
	border-radius: 5px;
	width: 300px
}
#schedule_button{
	width: 30%;
  	padding: 10px;
  	border: none;
  	border-radius: 4px;
  	margin: 5px 30px 15px 30px;
  	opacity: 0.85;
  	display: inline-block;
  	font-size: 17px;
  	line-height: 20px;
  	text-decoration: none;
  	background-color: #D0D3D4;
  	color: #CB4335; 
}
/*Footer*/
footer{
	width: auto;
	height:50%;
	background-color: #D0D3D4;
	margin: -8px;
	font-family: "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS";
}

footer ul{
	list-style-type: none;
	margin: 30px 50px 30px 450px;
	
}
footer li{
	display: inline-block;
	margin: 40px;
}

#copyright{
	margin: 20px 500px;
	font-size: 15px;
	color: #CB4335;
}
.icon{
	font-size: 35px;
	position: relative;
	top : 10px;
	color:black;
}