<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name= "viewport" content="width=device-width">
	<title>Welcome Mentor</title>
	<link rel="stylesheet" type="text/css" href="../static/mentor_style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
	<nav>
		<a href="home.html"><h1>Dufuna</h1></a>
		<ul class="nav_button">
			<li><a href="#"><button>Update A Task</button></a></li>
			<li><a href="#"><i class="far fa-bell icon"></i></a></li>
		</ul>
	</nav>
	<div class="container">
			<h2> Submitted Tasks</h2>
			<table>
				<colgroup>
					<col class="Week_Count">
					<col class="Activity">
					<col class="Scholars">
					<col class="File_link">
					<col class="Status">
				</colgroup>
			<thead>
				<tr>
					<th class="Week_Count">Week Count</th>
					<th class="Activity">Activity</th>
					<th class="Scholars">Scholars</th>
					<th class="File_link">File link</th>
					<th class="Status">Status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Introduction to HTML</td>
					<td> Olufemi Obasanjo</td>
					<td><a href="">Solution to my task</a></td>
					<td>Pending</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Introduction to CSS</td>
					<td> Olufemi Adeniran</td>
					<td><a href="">Solution to my task</a></td>
					<td>Pending</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Introduction to HTML</td>
					<td> Olufemi Obasanjo</td>
					<td><a href="">Solution to my task</a></td>
					<td>Accepted</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Introduction to HTML</td>
					<td> Olufemi Obasanjo</td>
					<td><a href="">Solution to my task</a></td>
					<td>Pending</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Introduction to CSS</td>
					<td> Olufemi Adeniran</td>
					<td><a href="">Solution to my task</a></td>
					<td>Pending</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Introduction to HTML</td>
					<td> Olufemi Obasanjo</td>
					<td><a href="">Solution to my task</a></td>
					<td>Accepted</td>
				</tr>
					<td>2</td>
					<td>Introduction to CSS</td>
					<td> Olufemi Adeniran</td>
					<td><a href="">Solution to my task</a></td>
					<td>Pending</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Introduction to HTML</td>
					<td> Olufemi Obasanjo</td>
					<td><a href="">Solution to my task</a></td>
					<td>Accepted</td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer>
			<ul>
				<li><a href="https://twitter.com/dufuna_org"><i class="fab fa-twitter icon"></i></a></li>
				<li><a href="https://www.facebook.com/dufuna?_rdc=1&_rdr"><i class="fab fa-facebook-square icon"></i></a></li>
				<li><a href="https://www.instagram.com/dufuna/"><i class="fab fa-instagram icon"></i></a></li>
			</ul>
			<h3 id ='copyright'>Copyright&copy;2019 Dufuna, All rights reserved.</h3>
	</footer>
</body>
</html>