body{
	background-color: #ECF0F1;
	font-family: 'Avial';
}
* {
  box-sizing: border-box;
}
header{
	font-size: 20px;
	height: 100px;
	background-color: #D0D3D4;
	margin: -17px -8px 0px -8px;
	font-family: "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS";
}
header h1{
	margin:0px 0px 30px 5px;
	padding-left: 150px;
	padding-top: 30px;
	font-size: 35px;
	color: #CB4335;
}
header a{
	text-decoration: none;
}
.container{
	margin: 0 auto;
	width: 400px;
	height: 600px;
	border: 0px solid #D0D3D4;
	box-shadow:  -7px 10px 16px 10px #D0D3D4;
}
.container h3{
	text-align: center;
	position: relative;
	padding: 10px 5px 5px 10px;
	color: #CB4335;
	font-family: "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS";
} 
ul {
	list-style: none;
}
.log_icon{
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin: 10px 10px 10px 17px;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; 
}
.fb {
  background-color: #3B5998;
  color: white;
}
.google {
  background-color: #dd4b39;
  color: white;
}
.icon{
	padding: 5px 10px 5px 10px;
}

form{
	margin: 20px;
}
form h4{
	margin: 0px 10px 10px 0px;
	color: #CB4335;
	font-family: "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS";
	font-size: 12.5px;
}
.text_input{
	height: 30px;
	border-radius: 5px;
	width: 300px
}

.submit_button{
	text-align: center;
	font-size: 18px;
	height: 40px;
	width: 80px;
	color: white;
	border : 2px solid;
	border-radius: 5px;
	background-color:#CB4335;

}
p{
	text-align: center;
}

a{
	text-decoration: none;
}

/*Footer*/
footer{
	width: auto;
	height:50%;
	background-color: #D0D3D4;
	margin: -8px;
	font-family: "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS";
}

footer ul{
	list-style-type: none;
	margin: 30px 50px 30px 450px;
	
}
footer li{
	display: inline-block;
	margin: 40px;
}

#copyright{
	margin: 20px 500px;
	font-size: 15px;
	color: #CB4335;
}
.icon2{
	font-size: 35px;
	position: relative;
	top : 10px;
	color:black;
}
