<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name= "viewport" content="width=device-width">
	<title> Dufuna Scholar Tracker - Home</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
	<div id="content">
		<div class="banner"> 
			<ul class="nav">
				<li><a href="sign_up.html"><button class="dropbtn ">Sign Up</button></li></a>
				<li><button class="dropbtn">Log In</button></li>
			</ul>
			<marquee class='heading'>Dufuna Scholar Tracker <i class="fas fa-laptop-code"></i></marquee>
		</div>

		<div class="table_box">
			<h2>Curriculum</h2>
			<table>
				<colgroup>
					<col class="Week_Count">
					<col class="Activity">
					<col class="Proposed_Start_Date">
					<col class="Proposed_End_Date">
					<col class="Resources">
					<col class="Tasks">
				</colgroup>
				<thead>
					<tr>
						<th class="Week_Count">Week Count</th>
						<th class="Activity">Activity</th>
						<th class="Proposed_Start_Date">Proposed Start Date</th>
						<th class="Proposed_End_Date">Proposed End Date</th>
						<th class="Resources">Resources</th>
						<th class="Tasks">Tasks</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
					</tr>
					<tr>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
					</tr>
					<tr>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
					</tr>
					<tr>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
					</tr>
					<tr>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
					</tr>
					<tr>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
					</tr>
					<tr>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
					</tr>
					<tr>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
					</tr>
					<tr>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
						<td>Proposed Start Date</td>
					</tr>
				</tbody>	
			</table>
		</div>
		<footer>
			<ul>
				<li><a href="https://twitter.com/dufuna_org"><i class="fab fa-twitter icon"></i></a></li>
				<li><a href="https://www.facebook.com/dufuna?_rdc=1&_rdr"><i class="fab fa-facebook-square icon"></i></a></li>
				<li><a href="https://www.instagram.com/dufuna/"><i class="fab fa-instagram icon"></i></a></li>
			</ul>
			<h3 id ='copyright'>Copyright&copy;2019 Dufuna, All rights reserved.</h3>
			
		</footer>
	</div>
</body>
</html>