<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name= "viewport" content="width=device-width">
	<title>Sign in - Dufuna Web App</title>
	<link rel="stylesheet" type="text/css" href="../static/signin_style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
	<header>
		<a href="home.html"><h1>Dufuna</h1></a>
	</header>
	<div class="container">
		<h3>Log Into the App</h3>
		<ul>
			<li>
				<a href="#" class="fb log_icon">
          			<i class= "fab fa-facebook-f icon"></i></i> Sign Up with Facebook
         		</a>
			</li>
			<li>
				<a href="#" class="google log_icon">
					<i class="fab fa-google icon"></i> Sign Up with Google+
        		</a>
			</li>
		</ul>
		<hr>
		<form>
			<h4>Email Address</h4>
			<input type="text" name="Email" placeholder="Email" class="text_input">
			<br><br>
			<h4>Password</h4>
			<input type="text" name="Password" placeholder="Password" class="text_input">
			<br><br>
			<input type="radio" name="Sign Up As" value="Mentor">As an Admin<br><br>
			<input type="radio" name="Sign Up As" value="Mentor">As a Mentor<br><br>
			<input type="radio" name="Sign Up As" value="Scholar">As a Scholar<br>
			<br>
			<input type="submit" value="Log In" class="submit_button"><br>
			<hr>
			<a href=""><p>Forgot your password?</p></a>
		</form>
	</div>
	<footer>
			<ul>
				<li><a href="https://twitter.com/dufuna_org"><i class="fab fa-twitter icon2"></i></a></li>
				<li><a href="https://www.facebook.com/dufuna?_rdc=1&_rdr"><i class="fab fa-facebook-square icon2"></i></a></li>
				<li><a href="https://www.instagram.com/dufuna/"><i class="fab fa-instagram icon2"></i></a></li>
			</ul>
			<h3 id ='copyright'>Copyright&copy;2019 Dufuna, All rights reserved.</h3>
	</footer>
</body>
</html>